.traffic-light {
    margin-top: 30px;
    width: 200px;
    height: 200px;
    border: 1px solid black;
    border-radius: 50%;
}

.traffic-light_red {
    background-color: red;
}
.traffic-light_yellow {
    background-color: yellow;
}
.traffic-light_green {
    background-color: green;
} 